<h2 class="mb-3"><%= t("devise.registrations.sign_up") %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false } ) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-3 col-6">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="field mb-3 col-6">
    <%= f.label :avatar, class: "form-label" %>
    <em class="form-text"><%= t("devise.shared.unnecessary_field") %></em>
    <div class="form-group mb-2"><%= image_tag(@user.avatar.variant(:thumb)) if @user.avatar.attached? %></div>
    <%= f.file_field :avatar, class: "form-group" %>
  </div>

  <div class="field mb-3 col-6">
    <%= f.label :password, class: "form-label" %>
    <em class="form-text"><%= t("devise.shared.minimum_password_length", count: @minimum_password_length) %></em>
    <%= f.password_field :password, autocomplete: "password", class: "form-control" %>
  </div>

  <div class="field mb-3 col-6">
    <%= f.label :password_confirmation, class: "form-label" %><br>
    <%= f.password_field :password_confirmation, autocomplete: "password-confirmation", class: "form-control" %>
  </div>

  <div class="actions mb-3 col-6">
    <%= f.submit t("devise.registrations.new.sign_up_action"), class: "btn btn-primary", data: { turbo_method: :post } %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
