<div class="mb-4 border-bottom">
  <p><%= comment.body %></p>
  <p>
    <span>
      <% if comment.user.present? %>
        <%= render partial: 'users/user', object: comment.user %>
      <% else %>
        <em><strong><%= comment.user_name %></strong></em>
      <% end %>
    </span>
    <em><%= l(comment.created_at, format: :short) %></em>
    <% if current_user_can_edit?(comment) %>
      <%= link_to(
            fa_icon('trash'),
            event_comment_path(comment.event, comment),
            data: { turbo_confirm: I18n.t('views.comments.destroy.confirm'), turbo_method: :delete },
          ) %>
    <% end %>
  </p>
</div>
