<%= form_for [event, subscription], data: { turbo: false }, class: "col-md-6" do |f| %>
  <%= render "partials/form_errors", resource: subscription %>

  <% unless user_signed_in? %>
    <div class="form-group mb-3">
      <%= f.label :user_name, class: "form-label mb-2" %>
      <%= f.text_field :user_name, class: "form-control" %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :user_email, class: "form-label mb-2" %>
      <%= f.text_field :user_email, class: "form-control" %>
    </div>
  <% end %>

  <div class="actions mb-3">
    <%= f.submit t("views.subscriptions.create"), class: "btn btn-primary" %>
  </div>
<% end %>
